*{
	margin:0px;
	padding:0px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
	height:100%;
	width:100%;
	background-color:rgb(10,10,10);
}

.tit{
	font-size:16px;
	color:rgb(150,150,150);
	margin:5px;
}

.selekt{
	width:100px;
	border-radius:5px;
	height:25px;
	border-radius:5px;
	border-style:solid;
}

.tooler{
	cursor:pointer;
}

.tooler:hover{
	color:rgb(100,100,100);
}

.ui_bar{
	width:100%;
background: rgba(0,0,0,0);

box-shadow:0px 0px 1px rgb(200,200,200);
	padding:3px;
	}

#menubar{
	width:100%;
	height:20px;
	background: #f0f0f0; /* Old browsers */
	z-index:199;
	overflow:hidden;
	border-top-right-radius:100px;
	border-top-left-radius:100px;
	border-width:1px;
	padding-left:20px;
	padding-right:20px;
	border-top-style:solid;
	border-color:rgb(170,170,170);
}

.struct{
	width:50%;
	text-align:center;
	float:left;
}

#toolbar{
padding-top:10px;
	width:100%;
	height:80px;
background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f0f0 0%, #d7d7d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f0f0 0%,#d7d7d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */


	z-index:99;
}

#layoutbar{
	width:100%;
	height:30px;
background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f0f0 0%, #d7d7d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f0f0 0%,#d7d7d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */

	box-shadow:0px 15px 15px rgb(220,220,220);
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:1px;
	border-color:rgb(170,170,170);
	text-align:left;
}

#layout{
	width:100%;
	min-height:200px;
	background: rgb(210,210,210); 
	box-shadow:0px 0px 5px rgb(220,220,220);
	margin:auto;
	margin-top:0px;
}

#layout_ui{
	width:98%;
	min-height:200px;
	background: rgba(230,230,230,1); 
	box-shadow:0px 0px 5px rgb(220,220,220);
	float:right;
	margin-right:10px;
	margin-top:10px;
	overflow:scroll;
	position:relative;
}

#layout_ui_edit{
	background: rgba(255,255,255,1); 
	position:relative;
	overflow:hidden;
}

#layout_records{
	width:98%;
	min-height:200px;
	background: rgb(210,210,210); 
	overflow:auto;
	margin:auto;
}

#layout_ui_records{
	margin:auto;
	background: rgb(210,210,210); 
	box-shadow:0px 0px 30px rgb(250,250,250);
	overflow:hidden;
	margin-top:10px;
	position:relative;
}

#layout_ui_maintenance{
	margin:auto;
	background: rgb(210,210,210); 
	box-shadow:0px 0px 30px rgb(250,250,250);
	overflow:hidden;
	margin-top:10px;
	position:relative;
}

#layout_ui_search{
	margin:auto;
	background: rgb(210,210,210); 
	box-shadow:0px 0px 30px rgb(250,250,250);
	overflow:hidden;
	margin-top:10px;
	position:relative;
}

#layout_search{
	width:98%;
	min-height:200px;
	background: rgb(210,210,210); 
	overflow:auto;
	margin:auto;
}

#layout_maintenance{
	width:98%;
	min-height:200px;
	background: rgb(210,210,210); 
	overflow:auto;
	margin:auto;
}



#layout_ui_tools{
	width:50px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(left,  #f7f7f7 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f7f7f7), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f7f7f7 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f7f7f7 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f7f7f7 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to right,  #f7f7f7 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 */

	float:left;
	margin-top:10px;
	box-shadow:10px 0px 15px rgb(200,200,200);
	border-top-style:solid;
	border-width:1px;
	border-color:rgb(170,170,170);
	overflow:hidden;
}

.layout_child{
	display:none;
}

.layout_tool{
	cursor:pointer;
	width:100%;
	height:40px;
}

.layout_tool:hover{
	box-shadow:0px 0px 15px rgb(100,100,100);
}

.layout_tool:active{
	box-shadow:inset 0px 0px 5px rgb(100,100,100);
}

#statusbar{
	width:100%;
	height:20px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	box-shadow:0px -15px 15px rgb(220,220,220);
	border-top-style:solid;
	border-width:1px;
	border-color:rgb(170,170,170);
	text-align:left;
	position:absolute;
	top:100%;
	margin-top:-21px;
}

.menubar_item{
	margin:2px;
	color:rgb(100,100,100);
	text-decoration:none;
	font-size:14px;
	float:left;
}

.alasveto{
background: #f0f0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f0f0 0%, #d7d7d7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d7d7d7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f0f0 0%,#d7d7d7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */

  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 0px;
  font-family: Arial;
  margin-left:2px;
  color: rgb(50,50,50);
  font-size: 12px;
  display: block;
  border-radius:5px;
  float:left;
  min-width:150px;
  height:20px;
  border: solid rgb(200,200,200) 1px;
  text-decoration: none;
}

.alasveto:hover {
  background: #ededed;
  text-decoration: none;
}
.nappi1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.nappi1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.nappi1:active {
	position:relative;
	top:1px;
}

.painike{
	cursor:pointer;
	padding:10px;
	border-radius:10px;
}

.painike:hover{
	padding:10px;
	box-shadow:0px 0px 15px rgb(200,200,200);
}

.painike:active{
	padding:10px;
	box-shadow:inset 0px 0px 15px rgb(200,200,200);
}

hr{
	border-style:solid;
	border-width:1px;
	border-color:rgb(200,200,200);
}

.valikko_menubar{
	min-width:150px;
	min-height:50px;
	background-color:rgb(255,255,255);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow:0px 10px 15px rgb(100,100,100);
	position:absolute;
	display:none;
	border-style:solid;
	border-width:1px;
	border-color:rgb(170,170,170);
	padding:15px;
}

.valikko_menubar_a{
	min-width:150px;
	min-height:50px;
	background-color: rgb(250,250,250);
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow:0px 10px 15px rgb(100,100,100);
	position:absolute;
	display:none;
	border-style:solid;
	border-width:1px;
	border-color:rgb(170,170,170);
	padding:15px;
}

.menubar_a{
	width:100%;
	height:30px;
	color:rgb(100,100,100);
	text-decoration:none;
	font-size:14px;
	margin:10px;
}

.menubar_a:hover{
	color:rgb(50,50,50);
}

#pimennys{
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(255,255,255,0.5);
	top:0px;
	left:0px;
	display:none;
}

.inds{
	padding:30px;	
}

.pimennys_child{
	display:none;
	margin:auto;
	width:600px;
	min-height:50px;
	max-height:500px;
	box-shadow:0px 10px 15px rgb(100,100,100);
	border-style:solid;
	border-width:5px;
	
background: #fbfbfb; /* Old browsers */
background: -moz-linear-gradient(top,  #fbfbfb 22%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#fbfbfb), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fbfbfb 22%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fbfbfb 22%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fbfbfb 22%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fbfbfb 22%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

	border-color:rgb(250,250,250);
	border-radius:5px;
	margin-top:20px;
	z-index:99;

	overflow:hidden;
}

#pimennys_style{

}

#object_style_parameters{
	margin:auto;
	width:500px;
	max-height:200px;
	background-color:rgb(250,250,250);
	border-color:rgb(170,170,170);
	margin-top:20px;
	padding:30px;
	overflow-y:scroll;
}

#style_parameters{
	margin:auto;
	width:500px;
	min-height:200px;
	background-color:rgb(250,250,250);
	border-color:rgb(170,170,170);
	margin-top:20px;
	padding:30px;
}

.parameters{
	margin:auto;
	width:500px;
	height:200px;
	background-color:rgba(250,250,250,0);
	border-color:rgb(170,170,170);
	margin-top:20px;
	overflow-y:scroll;
	padding:10px;
}

.nappi4 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.nappi4:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.nappi4:active {
	position:relative;
	top:1px;
}

.kentta{
	height:25px;
	border-width:1px;
	border-color:rgb(200,200,200);
	border-radius:3px;
	border-style:solid;
}

.kentta2{
	width:100px;
	height:25px;
	border-radius:5px;
	border-style:solid;
}

.nappula2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-style:normal;
	min-height:43px;
	padding:10px;
	line-height:43px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.nappula2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.nappula2:active {
	position:relative;
	top:1px;
}

#pimennys_layout_tablejoins{
	width:600px;
	display:none;
	margin:auto;
	box-shadow:0px 10px 15px rgb(100,100,100);
	border-style:solid;
	border-width:1px;
	background-color:rgb(250,250,250);
	border-color:rgb(170,170,170);
	z-index:99;
	margin-top:10px;
}

#db_structure{
	width:500px;
	margin:auto;
	overflow-y:scroll;
	height:300px;
	border-style:solid;
	border-width:1px;
	background-color:rgb(255,255,255);
	border-color:rgb(170,170,170);
	position:relative;
	padding:20px;
}

.column_join{
	cursor:pointer;
}

.db_structure_child{
	z-index:99;
	position:relative;
	margin:auto;
	width:150px;
	min-height:150px;
	border-style:solid;
	border-width:1px;
	background-color:rgb(255,255,255);
	border-color:rgb(170,170,170);
	box-shadow:0px 0px 5px rgb(200,200,200);
}

.db_structure_bump{
	height:50px;
	width:100%;
}

.db_structure_child_name{
	width:100%;
	height:30px;
	border-bottom-style:solid;
	border-width:1px;
	background-color:rgb(250,250,250);
	border-color:rgb(170,170,170);
}

.nappi6 {

	box-shadow: 0px 1px 6px -2px rgb(200,200,200);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f2f2f2) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f2f2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
	background-color:#ffffff;
	border-radius:3px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#bababa;
	font-family:arial;
	font-size:13px;
	font-style:normal;
	height:34px;
	line-height:34px;
	width:100px;
	text-decoration:none;
	text-align:center;
}
.nappi6:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f2f2f2 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff');
	background-color:#f2f2f2;
}.nappi6:active {
	position:relative;
	top:1px;
}

.nappi6_n{
border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: rgb(140,140,140);
 background-color:rgb(100,100,100);
}

.nappi6_n:hover{
 border:1px solid #bfc4c4;
}

